<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/new.css">
</head>
<body>
    <div class="one">
    <center>
    <div >
        <img src="/images/axiomio-logo-removebg-preview.png" style="padding-top: 65px;" width="240" height="auto" >
    </div>
    <div>
        <br>
        <br>
        <form action="/download-pdf">
           <input type="file" id="myFile" name="filename" accept=".json">
           <input type="submit">
        </form>
        <button onclick="submit" style="border-radius:15px; background-color: #2a5298; color: white;">
            Download
        </button>
       
    </div>
    </div>
    </center>
</body>
</html>